.header {
  width: 99%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #121212;
  position: fixed;
  -webkit-box-shadow: 0px 3px 7px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 3px 7px -2px rgba(0, 0, 0, 0.52);
  z-index: 1;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  transition: height 0.3s;
  margin: 0 auto;
  a {
    left: 0;
    top: 0;
    align-self: start;
    & .logo {
      font-weight: 900;
      padding: 20px;
      font-size: 2rem;
    }
  }
  nav {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    width: calc(99% - 40px);
    direction: rtl;

    .fa-bars {
      background-color: transparent;
      cursor: pointer;
      height: 2rem;
      width: 2rem;
      margin-bottom: 10px;
    }

    ul {
      background-color: #fff;

      a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 2px;
        letter-spacing: 2px;
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.493);
        transition: transform, box-shadow, font-size, width 0.3s linear 0s;
        &:hover {
          transform: scaleX(1.05);
        }
        @media (orientation: landscape) {
          padding: 12px 20px;
        }
      }
      .button {
        padding: 20px 0;
        width: 100%;
        background-color: transparent;
        border-radius: 2px;
        @media (orientation: landscape) {
          padding: 12px 0;
        }
      }
      .login {
        background-color: #008cba;
        color: white;
      }
      .logout {
        border: 3px solid #ba006c;
      }

      svg {
        font-size: 1.5rem;
        opacity: 0.7;

        &:hover {
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.52);
        }

        @media (min-width: 1000px) {
          display: none;
        }
      }
    }
    .hidden {
      height: 0;
      margin: 0;

      a {
        font-size: 0;
        padding: 0;
        width: 0;
        // transition: 0.3s;
      }
      svg {
        font-size: 0;
      }

      .button {
        font-size: 0;
        padding: 0;
        border: 0;
        margin: 0;
        width: 0;
      }
    }
  }
}
