.howTo {
  width: 99%;
  height: 80%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 0 5px #333;
  letter-spacing: 2px;
  form {
    width: 40%;
    height: 10%;
    min-width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #008cba;
    border-radius: 2px solid #008cba;
    z-index: 1;
    color: white;
    font-weight: 700;
    box-shadow: 3px 4px 2px -2px rgba(51, 51, 51, 0.431);
    label {
      padding-left: 20px;
      margin-right: 10px;
    }
    input {
      width: 50%;
      min-width: 1%;

      font-size: 1rem;
      padding: 5px 10px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid;
      color: white;
      &:focus {
        border: 1px solid #333;
      }
    }
  }
  &__list {
    flex-grow: 1;
    width: 40%;
    min-width: 200px;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;

    .active {
      background: #a1c4fd8f;
      &:hover {
        background: #a1c4fd8f;
      }
    }
    li {
      width: 100%;
      padding: 5px 5px 5px 20px;
      display: flex;
      align-self: center;

      cursor: pointer;
      font-size: 0.9rem;
      &:nth-of-type(even) {
        background-color: rgba(195, 195, 195, 0.486);
      }
      &:hover {
        background-color: rgba(128, 196, 251, 0.664);
      }
    }
  }
  &__description {
    position: relative;
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    &-top,
    &-bottom {
      position: absolute;
      background-color: #fdfdfd;
      width: 100%;
      display: flex;
      padding: 0 20px;
    }
    &-top {
      top: 0;
      left: 0;
      height: 10%;
      justify-content: end;
      align-items: center;
      background-color: #008cba;

      box-shadow: 0 4px 2px -2px rgba(51, 51, 51, 0.431);
      z-index: 1;

      button {
        font-size: 1rem;
        box-shadow: none;
        transition: 0.15s;
        background-color: transparent;
        padding: 0;
        color: white;
        &:hover {
          text-decoration: underline;
          transform: none;
        }
      }
    }
    &-mid {
      display: flex;
      align-items: flex-start;
      padding: 50px 10%;
      margin-bottom: 50px;
      width: 100%;
      height: 80%;
      text-align: justify;
      font-size: 0.9rem;
      overflow-y: scroll;
      overflow-x: hidden;
      line-height: 1.2rem;
      background-color: #fdfdfd;
    }
    &-bottom {
      align-items: center;
      bottom: 0;
      left: 0;
      height: 10%;

      box-shadow: 0 -3px 2px -2px rgba(51, 51, 51, 0.253);
      .new {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        background-color: #4caf50;
        color: white;
        font-weight: 700;
        padding: 0px 8px;
        border-radius: 0;
        box-shadow: 0 0 5px #333;
      }
    }
    a {
      color: rgba(90, 2, 161, 0.76);
      transition: 0.15s;
      margin: 0 auto 0 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__modal {
    position: fixed;
    width: 90%;
    height: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 5px #333;
    z-index: 99;
    form {
      height: 90%;
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;

      align-items: flex-start;
      flex-direction: row;

      label {
        display: block;

        display: flex;
        flex-grow: 0;
        width: 20%;
      }
      input,
      textarea {
        width: 70%;
        padding: 0 20px;
        height: fit-content;
      }
      textarea {
        height: 40%;
      }
    }
    .exit {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 4vh;
      margin: auto;
      cursor: pointer;
      transform: rotate(45deg);
      user-select: none;
    }
  }
}
